<po-navbar [p-items]="menuItems" p-shadow="true" p-logo="./../assets/logoPlaceholder.png">
</po-navbar>

<div class="page-wrapper">
    <router-outlet></router-outlet>
</div>


<!-- <div class="po-wrapper">
    <router-outlet></router-outlet>
</div> -->

<!-- <po-page-default>
    <router-outlet></router-outlet>
</po-page-default> -->

<!-- <po-container class="po-text-center footer">
    <div class="placeholder">
        LOGO PLACECHOLDER
    </div>
    <p>Endereço da empresa</p>
    <p>9999-9999</p>
    <p>email.suporte@email.com</p>
    <span class="po-icon po-icon-social-instagram"></span>
    <span class="po-icon po-icon-social-whatsapp"></span>
    <span class="po-icon po-icon-social-twitter"></span>
</po-container> -->
