.placeholder {
  text-align: center;
  background-color: lightgray;
  height: 100%;
  width: 100%;
}

.images {
  height: 400px;
  width: 300px;
}

.perfil {
  margin-top: 1rem;
}

.portfolio {
  margin-top: 4rem;

  h2 {
    font-size: 2rem;
  }
}
