.destaques {
  h2 {
    font-size: 2rem;
  }

}

.placeholder {
  text-align: center;
  background-color: lightgray;
  width: 100%;
  height: 200px;
}

.perfil {

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.2rem;
  }
}
